@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
/* Variables */
:root{
  --primary: #6e00ff;
  --preloader_span: 80px;
  --preloader_span-30p100: calc( var(--preloader_span) - ((var(--preloader_span)/100) * 30) )
}


@keyframes before_after_loader {
  0% { 
    transform: translateX(0px) translateY(-50px);
    opacity: 1;
  }

  12.25% { 
    transform: translateX(30px) translateY(-30px);
  }

  24.50% { 
    transform: translateX(50px) translateY(0px);
  }

  37%{
    transform: translateX(30px) translateY(30px);
  }

  49.25%{
    transform: translateX(0px) translateY(50px);
  }
  
  61.50%{
    transform: translateX(-30px) translateY(30px);
  }

  73.75%{
    transform: translateX(-50px) translateY(0px);
  }

  86%{
    transform: translateX(-30px) translateY(-30px);
  }

  98.25% { 
    transform: translateX(0px) translateY(-50px);
    opacity: 1;
  }

}


.preloader{
  background-color: var(--primary);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all ease-in-out 2s !important;
}

.preloader h1{
  color: white;
  font-family: Nunito, Roboto, sans-serif;
  font-size: 1em;
}

.preloader img {
  width: 80px;
  height: 80px;
}

.preloader span {
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 100%;
  margin-top: 20px;
  position: relative !important;
  transition-delay: 3s;
  border: dotted 2px rgba(255,255,255, .4) !important;
  opacity: 1;
}

.preloader span:before, .preloader span:after {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: inherit;
  background: white;
  opacity: 0;
  left: calc(50% - (18px/2) );
  top: calc(50% - (18px/2) ) ;
  animation-name: before_after_loader;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


.preloader span:before {
  animation-duration: 1s ;
}

.preloader span:after {
  transition-delay: 1s;
  animation-duration: 2s;
}