footer {
    @extend .flex-col-center, .col-12;
    @media screen and (min-width: $md) {flex-direction: row;}
    min-height: 100px;
  
    #left , #right {
        @extend .flex-row-center;
        position: relative !important;
        width: 100%;
        @media screen and (min-width: $md) {
            height: 20px;
            padding: 20px;
        }
    }

    #left{
        @media screen and (min-width: $md) {
            justify-content: flex-start !important;
        }

        p{
            font-size: .9em;
            color: $dark;
        }
    }

    #right{
        @media screen and (min-width: $md) {
            justify-content: flex-end !important;
        }

        & > ul{
            @extend .flex-row-center;
            flex-wrap: wrap !important;
            position: relative !important;
            list-style: none;

            li{
                @extend .flex-row-center;
                margin: 5px 10px;
                padding: 5px;

                span{
                    @extend .flex-row-center;
                    padding: 2px;
                    b{
                        text-overflow: none;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }

                img{
                    width: 20px;
                    height: 15px;
                    margin-right: 5px;
                }

                a,b{
                    color: $dark;
                    text-decoration: none;
                    font-size: .9em;
                    cursor: pointer;
                }

                #langDrowpcard {
                    @extend .flex-col-center;
                    align-items: flex-start;
                    position: absolute ;
                    top: -300px;
                    left: px;
                    @media screen and (min-width: $lg) {
                        left: calc( (-50% / 2) + 20px) ;
                    }
                    padding: 20px 10px;
                    overflow: visible !important;
                    z-index: 2;
                    animation: toTop ease-in-out .1s;
                    background: $white !important;                      

                    li{
                        transition-delay: 2s !important;
                        @extend .flex-row-center;
                        img{
                            margin-right: 10px;
                        }
                    }

                    &::after{
                        content: '';
                        width: 40px;
                        height: 40px;
                        background: $white !important;                      
                        position: absolute;
                        bottom: -5px;
                        left: calc(50%/2 + 20px );
                        transform: rotate(45deg);
                        z-index: -1;
                    }
                }
            }
        }
    }
}