header, .header {
    position:  relative !important;
    @extend .flex-row-center;
    background: $primary;
    @media screen and (max-width: $sm) {
        flex-direction: column;
    }
    border-bottom: solid 1px $white2;

    & > #left, & > #right{
        @extend .flex-row-center;
        position: relative;
        width: 100%;
        ul{ list-style: none;}
        height: 80px;
        @media screen and (max-width: $sm) {
           min-height: 60px;
        }
    }

    & > #left{
        justify-content: flex-start;
        
        & > #menutoggle{ @extend .menutoggle;}

        & > #menu { @extend .menu;}
    }

    & > #right{
        justify-content: flex-end;
        @media screen and (max-width: $sm) { justify-content: center;}

        & > ul{ 
            @extend .flex-row-center;
            position: relative;

            li{
                position: relative;
                margin: 5px 10px ;
                padding: 5px;


                &:last-child{
                    margin-right: 40px !important;
                }

                & >  a {
                    position: relative;
                    overflow: hidden !important;
                    & , & > i {
                        color: rgba($white, .9);
                    }

                    & > span[class^=tag]{
                        position: absolute !important;
                        top: -10px !important;
                        right: -15px;
                        width: 15px;
                        height: 15px;
                        font-size: 7px !important;
                        text-overflow: none;
                        overflow: hidden !important;
                        white-space: nowrap;
                        text-shadow: .1px .1px 1pc $black2;
                    }

                }

                &:hover{
                    & > a ,  & > a > svg , & > a > i{
                       color: $white !important ;
                   }
               }
            }
            
        }

        & > span{
            @extend .flex-row-center, .shadow;
            background: rgba( $secondary, .4) ;
            border-radius: 50px;
            min-width: 40px;
            max-width: 130px;;
            height: 40px;
            padding: 0 !important;
            @media screen and (max-width: $lg) {  width: 40px;}
            transition: all ease-in-out .1s;

            & > img{
                @extend .avatar;
                margin: 0 !important;
                padding: 0;
                animation: toRight ease-in-out .1s;
            }

            & > small{
                & , & > a {
                 color: $white !important;
                }
                font-size: 12px;
                padding: 5px 10px;
                font-weight: 400;
                opacity: 0;
                display: none;
                transition: all ease-in-out .1s  !important;
            }

            &:hover{
                cursor: grabbing;
                transition: all ease-in-out .1s;
                width: 130px;

                & > img{
                    animation: scaling ease-in-out .1s;
                }

                & > small{ 
                    transition: all ease-in-out .1s  !important;
                    opacity: 1;
                    display: inline-flex;
                }
            }
        }

        &:last-child{
            margin-right: 20px;
        }
    }

    
}