* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body {
    background-color: $light;
    font-family: Nunito,Roboto, sans-serif;
    min-width: 250px !important;
}

a{
    text-decoration: none !important;
}