@import "_btn";

.shadow{
    box-shadow:  4px 4px 5px $black2, -5px -5px 10px $black2;
}

.shadow-radius{
      @extend .shadow;
      border-radius: 5px;
}

.card {
    @extend .shadow-radius;
    padding: 10px;
    background: $white !important;
    min-width: 120px;
}

.circle{
    border-radius: 100%;
}

.flex {
    display: flex;
}

.flex-center{
    @extend .flex;
    justify-content: center;
    align-items: center;
}

.flex-col-center{
    @extend .flex-center;
    flex-direction: column;
}

.flex-row-center{
    @extend .flex-center;
    flex-direction: row;
}


.hide-under-xl{
    @media screen and (max-width: $xl) { display: none !important;}
}

.hide-on-xl{
    @media screen and (min-width: $xl) { display: none !important;}
}

.hide-under-lg{
    @media screen and (max-width: $lg) { display: none !important;}
}

.hide-on-lg{
    @media screen and (min-width: $lg) { display: none !important;}
}

.hide-under-md{
    @media screen and (max-width: $md) { display: none !important;}
}

.hide-on-md{
    @media screen and (max-width: $md) { display: none !important;}
}


.hide-under-sm{
    @media screen and (max-width: $sm) { display: none !important;}
}

.hide-on-sm{
    @media screen and (max-width: $sm) { display: none !important;}
}

.radius-left-bottom {
    border-radius: 0px 0px 0px 50px ;
}


$tag:
default $light $dark,
success $success $light,
error $error $light,
info $info $light,
warning $warning $light;

.tag {
    @extend .flex-row-center;
    animation: jump ease-in-out .6s;
    box-sizing: border-box !important;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 100% !important;
    font-size: 12px !important;
    background: $light ;
    color: $dark;

    @each $name, $bg, $cl in $tag {
        &-#{$name}{
            @extend .tag;
            background: $bg !important;
            color: $cl !important;
        }
    }
}