@import "_btn";
@import "./_card.scss";


.shadow {
    box-shadow: 2px 2px 15px  rgba( $black , .1), -2px 12px 15px rgba($black,.05);
}


.shadow-reverse {
    box-shadow: 2px 2px 15px  rgba( $black , .2), -2px 12px 15px rgba($black,.1);
}

.shadow-radius{
      @extend .shadow;
      border-radius: 5px;
}

.circle{
    border-radius: 100%;
}

.center{
    align-self: center !important;
    text-align: center !important;
}

.flex {
    display: flex;
}

.flex-col {
    @extend .flex;
    flex-direction: column;
}

.flex-row{
    @extend .flex;
    flex-direction: row;
}

.flex-center{
    @extend .flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.flex-col-center{
    @extend .flex-center, .flex-col;
}

.flex-row-center{
    @extend .flex-center, .flex-row;
}

.hide{
    display: none;
}

.hide-under-xl{
    @media screen and (max-width: $xl) { display: none !important;}
}

.hide-on-xl{
    @media screen and (min-width: $xl) { display: none !important;}
}

.hide-under-lg{
    @media screen and (max-width: $lg) { display: none !important;}
}

.hide-on-lg{
    @media screen and (min-width: $lg) { display: none !important;}
}

.hide-under-md{
    @media screen and (max-width: $md) { display: none !important;}
}

.hide-on-md{
    @media screen and (max-width: $md) { display: none !important;}
}


.hide-under-sm{
    @media screen and (max-width: $sm) { display: none !important;}
}

.hide-on-sm{
    @media screen and (max-width: $sm) { display: none !important;}
}

.radius-left-bottom {
    border-radius: 0px 0px 0px 50px ;
}


.tag {
    @extend .flex-row-center;
    animation-delay: 2s !important;
    animation: jump ease-in-out .6s;
    animation-iteration-count: 2;
    box-sizing: border-box !important;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 100% !important;
    font-size: 12px !important;
    background: $light ;
    color: $dark;

    @each $name, $bg, $cl in $color_map {
        &-#{$name}{
            @extend .tag;
            background: $bg !important;
            color: $cl !important;
        }
    }
}

.badge {
    @extend .tag;
    animation: scalling ease-in-out .6s !important;
    width: 80px;
    padding: 14px 20px;
    border-radius: 50px!important;
    font-size: 13px ;
    font-weight: bolder;

    @each $name, $bg, $cl in $color_map {
        &-#{$name}{
            @extend .badge;
            background: $bg !important;
            color: $cl !important;
        }
    }
}

.badge-sm {
    @extend .badge ;
    font-size: .6rem !important;
    padding: 3px 6px  !important;
    width: auto !important;
    @each $name, $bg, $cl in $color_map {
        &-#{$name}{
            @extend .badge-#{$name}, .badge-sm;
        }
    }
}


.avatar {
    @extend .circle;
    width: 40px;
    height: 40px;

    &-sm {
        @extend .avatar;
        width: 30px !important;
        height: 30px !important;
    }

    &-lg {
        @extend .avatar;
        width: 80px !important;
        height: 80px !important;
    }

    &-xl {
        @extend .avatar;
        width: 120px !important;
        height: 120px !important;
    }
}



.avatar-badge {
    @extend .flex-row-center, .shadow;
    position: relative;
    background: rgba( $secondary, .4) ;
    border-radius: 50px;
    max-width: 130px;;
    height: 40px;
    padding: 0 !important;
    transition: all ease-in-out .1s;

    & > img{
        @extend .avatar;
        margin: 0 !important;
        padding: 0;
        animation: toRight ease-in-out .1s;
    }

    & > small{
        //position: absolute;
        right: 0 !important;
        & , & > a {
         color: $white !important;
        }
        font-size: 12px;
        padding: 5px;
        font-weight: 400;
        opacity: 0;
        display: none;
        transition: all ease-in-out .1s  !important;
    }

    &.active {
        cursor: grabbing;
        transition: all ease-in-out .1s;
        min-width: 60px !important;

        & > img{
            animation: scaling ease-in-out .1s;
            position: absolute;
            left: 0 !important;
        }

        & > small{ 
            transition: all ease-in-out .1s  !important;
            opacity: 1;
            display: inline-flex;
            margin-left: 30px;
        }
    }

}

.tx {
    color:  $dark;
    @each $name, $bg, $cl in $color_map {
        &-#{$name}{
            @extend .tx;
            color: $bg !important;
        }
    }
}

.bg, .bg-white {
    color:  $dark;
    background: $white;

    @each $name, $bg, $cl in $color_map {
        &-#{$name}{
            @extend .bg;
            background: $bg;
            color: $cl ;
        }
    }
}

.bg-black{
    color:  $light;
    background: $black;
} 

.bg-dark{
    color:  $white;
    background: $dark;
} 