/* Fonts */
//Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

//Break-Points
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//Colors
$primary: #6e00ff;
$secondary: #510fa8;
$gradient: linear-gradient( to top, $primary 1%, $secondary ); 
$light: #efefef ;
$dark: #696969;
$black: #000;
$black2: rgba($black, .1);
$white: #FFFFFF;
$white2: rgba($white, .2);
$success: #28a745;
$error: #F85D5D;
$info: #4799eb;
$warning: #9e7700;

////////////////////////////////
//$primary: #009e73;
//$secondary: rgba(#009e73, .5) ;

$theme-colors: (
  "success":    $success,  
  "primary": $primary,
  "danger": $error,
  "light":  $light,
  "dark":  $dark,
  "warning": $warning,
);  

// @each $name , $bg, $cl in $color_map {}
$color_map: 
default $light $dark,
success $success $light,
error $error $light, 
warning $warning $light, 
info $info $light, 
primary $primary $light,
secondary $secondary $light; 

$color_map_dark: 
default #eee $dark,
success$dark $light,
error $dark $light, 
warning $dark $light, 
info $dark $light, 
primary $dark $light,
secondary rgba($dark, .9) $light; 


//Components
$sidebarWidth: 300px;
